# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
logs/*.log
!logs/bitacora_ejecuciones_20260427.log
data/raw/
data/temp/
.pytest_cache/
导导
